nav{
    width: 12%;
    border-width: 4px;
    border-style: groove; 
    border-radius: 2%;
    float: left;
}

#columna2{
    width: 70%;
    border-width: 4px;
    border-style: groove;
    border-radius: 2%;
    margin-left: 5px;
    float: right;
}

#columna3{
    width: 15%;
    border-width: 4px;
    border-style: groove;
    border-radius: 2%;
    margin-left: 5px;
    float: right;
}

#columna{
    width: 70%;
    border-width: 4px;
    border-style: groove;
    border-radius: 2%;
    margin-left: 5px;
    float: left;
}